# Python cache
__pycache__/
*.py[cod]
*.so

# Conda/venv
.env
env/
.venv/
venv/
*.env

# Jupyter & VSCode
.ipynb_checkpoints/
.vscode/
*.code-workspace

# 데이터, 모델, 로그
data/
runs/
*.h5
*.ckpt
*.pth
*.npz
*.npy
*.nii.gz
*.png

# 시스템 파일
.DS_Store

# 환경 설정
environment.yml

# Ignore HD-BET folder
HD-BET/
